<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script   src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>  


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--custom CSS-->
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <h4>Compose Message</h4>
    <div class="message-box">
        <form action="/message" method="post">
        	<input type="text" placeholder="Email" name="email"><br>
        	<textarea placeholder="Content" name="content"></textarea><br>
            <div class="send-button"><input type="submit" value="Send"></div><br>
        </form>
    </div>
    {{#if data}}
    <h3>Sent Messages</h3>
    <table>
    	<thead>
    		<th>Email</th>
    		<th>Date</th>
    	</thead>
    	<tbody>
    		{{#each data}}
    		<tr>
    			<td><div class="email-title">{{email}}</div>
        
    			{{content}}</td>
    			<td>{{created}}</td>
    		</tr>
            
    		{{/each}}
            <hr>
    	</tbody>
    </table>
    {{/if}}
</body>

</html>
